venv
*.gz
*.pyc
__pycache__/
*.egg-info/
build/
dist/

# Debian package build outputs. Keep bt_joy/debian source packaging files tracked.
/*.deb
/*.buildinfo
/*.changes
/*.dsc
/*.tar.xz
bt_joy/.pybuild/
bt_joy/debian/.debhelper/
bt_joy/debian/bt-joy/
bt_joy/debian/*.debhelper
bt_joy/debian/*.substvars
bt_joy/debian/debhelper-build-stamp
bt_joy/debian/files

bt_app/bt_app.egg-info/dependency_links.txt
bt_app/bt_app.egg-info/entry_points.txt
bt_app/bt_app.egg-info/PKG-INFO
bt_app/bt_app.egg-info/requires.txt
bt_app/bt_app.egg-info/SOURCES.txt
bt_app/bt_app.egg-info/top_level.txt
bt_cli/bti_cli.egg-info/dependency_links.txt
bt_cli/bti_cli.egg-info/entry_points.txt
bt_cli/bti_cli.egg-info/PKG-INFO
bt_cli/bti_cli.egg-info/requires.txt
bt_cli/bti_cli.egg-info/SOURCES.txt
bt_cli/bti_cli.egg-info/top_level.txt
bt_gazebo/plugins/build/cmake_install.cmake
bt_gazebo/plugins/build/CMakeCache.txt
bt_gazebo/plugins/build/install_manifest.txt
bt_gazebo/plugins/build/libBetaflightPlugin.so
bt_gazebo/plugins/build/Makefile
bt_gazebo/plugins/build/CMakeFiles/cmake.check_cache
bt_gazebo/plugins/build/CMakeFiles/CMakeDirectoryInformation.cmake
bt_gazebo/plugins/build/CMakeFiles/CMakeOutput.log
bt_gazebo/plugins/build/CMakeFiles/Makefile.cmake
bt_gazebo/plugins/build/CMakeFiles/Makefile2
bt_gazebo/plugins/build/CMakeFiles/progress.marks
bt_gazebo/plugins/build/CMakeFiles/TargetDirectories.txt
bt_gazebo/plugins/build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
bt_gazebo/plugins/build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
bt_gazebo/plugins/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
bt_gazebo/plugins/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
bt_gazebo/plugins/build/CMakeFiles/3.22.1/CMakeSystem.cmake
bt_gazebo/plugins/build/CMakeFiles/3.22.1/CompilerIdC/a.out
bt_gazebo/plugins/build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
bt_gazebo/plugins/build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
bt_gazebo/plugins/build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
bt_gazebo/plugins/build/CMakeFiles/BetaflightPlugin.dir/BetaflightPlugin.cc.o
bt_gazebo/plugins/build/CMakeFiles/BetaflightPlugin.dir/BetaflightPlugin.cc.o.d
bt_gazebo/plugins/build/CMakeFiles/BetaflightPlugin.dir/build.make
bt_gazebo/plugins/build/CMakeFiles/BetaflightPlugin.dir/cmake_clean.cmake
bt_gazebo/plugins/build/CMakeFiles/BetaflightPlugin.dir/compiler_depend.internal
bt_gazebo/plugins/build/CMakeFiles/BetaflightPlugin.dir/compiler_depend.make
bt_gazebo/plugins/build/CMakeFiles/BetaflightPlugin.dir/compiler_depend.ts
bt_gazebo/plugins/build/CMakeFiles/BetaflightPlugin.dir/depend.make
bt_gazebo/plugins/build/CMakeFiles/BetaflightPlugin.dir/DependInfo.cmake
bt_gazebo/plugins/build/CMakeFiles/BetaflightPlugin.dir/flags.make
bt_gazebo/plugins/build/CMakeFiles/BetaflightPlugin.dir/link.txt
bt_gazebo/plugins/build/CMakeFiles/BetaflightPlugin.dir/progress.make
bt_joy/dist/bt_joy-0.0.1.tar.gz
bt_joy/dist/bt_joy-0.0.2-py3-none-any.whl
bt_joy/dist/bt_joy-0.0.2.tar.gz
bt_joy/dist/bt_joy-0.0.3-py3-none-any.whl
bt_joy/dist/bt_joy-0.0.4-py3-none-any.whl
bt_joy/dist/bt_joy-0.0.5-py3-none-any.whl
bt_joy/dist/bt_joy-0.0.6-py3-none-any.whl
bt_joy/.pybuild/cpython3_3.10_bt-joy/bt_joy-0.0.6-py3-none-any.whl
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/__init__.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/protocol.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/client/__init__.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/client/config.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/client/joystick.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/client/main.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/client/mapper.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/client/runner.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/client/udp.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/examples/__init__.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/examples/default.yaml
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/server/__init__.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/server/config.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/server/joy_msp_server.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/server/mock_server.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy/server/msp.py
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy-0.0.6.dist-info/entry_points.txt
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy-0.0.6.dist-info/METADATA
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy-0.0.6.dist-info/RECORD
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/bt_joy-0.0.6.dist-info/WHEEL
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/scripts-3.10/bt-joy
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/scripts-3.10/bt-joy-mock-server
bt_joy/.pybuild/cpython3_3.10_bt-joy/build/scripts-3.10/bt-joy-msp-server
bt_joy/debian/.debhelper/generated/bt-joy/installed-by-dh_install
bt_joy/debian/.debhelper/generated/bt-joy/installed-by-dh_installdocs
bt_joy/debian/.debhelper/generated/bt-joy/installed-by-dh_installman
bt_joy/debian/.debhelper/generated/bt-joy/postinst.service
bt_joy/debian/.debhelper/generated/bt-joy/prerm.service

yolo_500_frames

# YOLO training outputs: ignore run artifacts but keep trained weights.
runs/detect/train*/**
!runs/detect/train*/
!runs/detect/train*/weights/
!runs/detect/train*/weights/**
output/

bt_gazebo/bin/libBetaflightPlugin.so
runs/detect/train/weights/best.onnx
runs/detect/train/weights/best.pt
runs/detect/train/weights/last.pt
runs/detect/train/weights/best_rknn_model/best-rk3566.rknn
runs/detect/train/weights/best_rknn_model/metadata.yaml
